@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#app-section1 {
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#app-section1>div {
    width: 45%;
    text-align: justify;
}

.text-section1 {
    color: var(--secondary-text);
    margin: 20px 0px;
}

.container {
    margin-bottom: 50px;
}

h1 {
    color: var(--light-white);
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
}

.container h2 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.container h2:after,
.container h2:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
}

h2 {
    color: var(--light-white);
}

.buttons-section1 {
    display: flex;
}

.buttons-section1 a {
    display: flex;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.buttons-section1 a:first-child {
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0e0e1a;
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, #00000000, #00000066);
    color: var(--secondary-text);
}

.buttons-section1 a:first-child:active {
    scale: 0.92;
  }
  
  .buttons-section1 a:first-child:hover {
    background: #021d4e;
    background: linear-gradient(270deg, #021d4eae 0%, #1fd7e8df 60%);
    color: #090920;
  }

.buttons-section1 a:last-child {
    color: white;
    margin-left: 10px;
    border: 1px solid transparent;
    background: linear-gradient(135deg, var(--prym-purple-color) 0%, var(--prym-lightPurple-color) 100%);
}

#burbuja1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    border-radius: 65% 35% 73% 27% / 36% 34% 66% 64%;
    background: linear-gradient(45deg, var(--prym-blue-color) 0%, var(--prym-cyan-color) 100%);
    animation: animate 10s infinite ease-in-out;
}

#burbuja2 {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 65% 35% 73% 27% / 36% 34% 66% 64%;
    background: linear-gradient(45deg, var(--prym-purple-color) 0%, var(--prym-lightPurple-color) 100%);
    animation: animate2 10s infinite ease-in-out;
}

@keyframes animate {
    0% {
        border-radius: 65% 35% 73% 27% / 36% 34% 66% 64%;

    }

    50% {
        border-radius: 20% 80% 53% 47% / 74% 72% 28% 26%;

    }

    100% {
        border-radius: 65% 35% 73% 27% / 36% 34% 66% 64%;
    }

}

@keyframes animate2 {
    0% {
        border-radius: 27% 73% 75% 25% / 29% 26% 74% 71%;

    }

    33% {
        border-radius: 67% 33% 66% 34% / 64% 83% 17% 36%;

    }

    66% {
        border-radius: 39% 61% 42% 58% / 55% 77% 23% 45%;
    }

    100% {
        border-radius: 27% 73% 75% 25% / 29% 26% 74% 71%;
    }

}

#app-section2 {
    text-align: center;
}

.titulo {
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    color: var(--light-white);
}

.card-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: linear-gradient(135deg, var(--bg-light-container) 0%, var(--bg-dark-container));
    height: 230px;
    width: 250px;
    border-radius: 10px;
    border: 1px var(--border) solid;
    margin: 10px;
    color: white;
    text-align: center;
    padding: 5px;
    box-shadow: #6dd5e793 0px 2px 4px 0px, #6dd5e793 0px 2px 16px 0px;
}

#burbuja3 {
    margin: 5px auto;
    width: 80px;
    height: 80px;
    border-radius: 33% 67% 81% 19% / 55% 58% 42% 45%;
    background: linear-gradient(45deg, #ff0000 0%, #ff9966 100%);
}

#burbuja4 {
    border-radius: 50% 50% 50% 50% / 29% 80% 20% 71%;
    margin: 5px auto;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, #003300 0%, #00ff00 100%);
}

#burbuja5 {
    border-radius: 44% 56% 45% 55% / 31% 33% 67% 69%;
    margin: 5px auto;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, #ff3399 0%, #9900ff 100%);
}

#burbuja6 {
    border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%;
    margin: 5px auto;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, #00ffff 0%, #0000ff 100%);
}

.fondo-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.icon-card {
    font-size: 50px;
}

.text-section2 {
    margin-top: 15px;
}

#app-section3 .titulo {
    text-align: center;
    margin-top: 25px;
}

.characteristics-container {
    color: white;
    width: 500px;
}

.characteristics {
    border-bottom: 1px solid #00b7ff73;
    margin: 15px 0px;
    padding-bottom: 20px;
    display: flex;
}

.icon-char {
    font-size: 40px;
    margin-right: 20px;
}

#icon-char1 {
    color: #55f136;
}

#icon-char2 {
    color: #ff00f2;
}

#icon-char3 {
    color: #f0ec2f;
}

.title-char h4 {
    font-size: 20px;
    color: var(--secondary-text);
    text-shadow: 3px 3px 5px #969393;
}

.title-char p {
    margin-top: 15px;
}