#app-section1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.text-section1 {
    color: var(--secondary-text);
    margin: 20px 0px;
}

#section1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

#section1-container>div {
    width: 100%;
    max-width: 512px;
}

h1 {
    color: var(--light-white);
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}

#app-section1 h2 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-gap: 20px;
    align-items: center;
}

#app-section1 h2:after,
#app-section1 h2:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
}

h2 {
    color: var(--light-white);
    font-size: 35px;
}

.buttons-section1 {
    display: flex;
    justify-content: space-evenly;
}

#proveIt {
    width: 35%;
}

#howToUse {
    background: var(--bg-light);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    width: 35%;
    height: 35px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.2s;
}

#howToUse:hover {
    filter: brightness(1.2);
}

#frontPage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#frontPage-container>div {
    width: 70%;
    height: 70%;
    position: absolute;
    background: var(--bg-darkLight);
    border-radius: 5px;
}

#frontPage-container>img {
    position: relative;
    width: 80%;
}

#app-section2 {
    text-align: center;
}

.titulo {
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    color: var(--light-white);
    text-align: center;
}

.card-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; 
    height: 80px; 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border-radius: 15px;
    z-index: 1;
}

.text-section2 {
    position: relative;
    top: -50px;
    background: linear-gradient(135deg, var(--bg-light-container) 0%, var(--bg-dark-container));
    margin: 10px;
    width: 220px;
    height: 100px;
    padding: 50px 20px 10px;
    color: white;
    border-radius: 5px;
    text-align: start;
}

.text-section2 h3 {
    border-bottom: 1px var(--secondary-text) solid;
    padding-bottom: 3px;
}

.text-section2 p {
    margin-top: 5px;
    font-size: 15px;
}

#hex1 {
    background: linear-gradient(45deg, #1c14a3 12%, #0f52cc 43%, #00f9ff 75%);
}

#hex2 {
    background: linear-gradient(45deg, #f00202 12%, #ff470a 48%, #ffaf00 78%);
}

#hex3 {
    background: linear-gradient(45deg, #f00233 12%, #ff0a51 52%, #ff00a4 78%);
}

#hex4 {
    background: linear-gradient(45deg, #7102f0 8%, #e40aff 64%, #ff00f9 92%);
}

.icon-card {
    font-size: 35px;
    color: white;
}

#app-section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg-darkLight);
    width: 100%;
    padding-bottom: 30px;
}

#app-section3>div {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

#buttons-section3 {
    display: flex;
    flex-direction: column;
}

.steps-button {
    text-align: start;
    height: 50px;
    width: 250px;
    padding: 10px;
    background: transparent;
    border: 0;
    border-radius: 5px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.steps-button p:first-child {
    color: white;
    font-size: 18px;
    border-bottom: 1px var(--secondary-text) solid;
    padding-bottom: 3px;
    margin-bottom: 3px;
    width: 100%;
}

.steps-button p:nth-child(2) {
    color: var(--secondary-text);
    font-size: 15px;
    margin: 5px 0px;
}

.focushed {
    height: 100%;
    background: var(--bg-dark);
}

.steps {
    max-width: 500px;
    border-radius: 5px;
    overflow: hidden;
}

.steps img {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #buttons-section3 {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .steps-button {
        width: 100%;
    }
}
