#app-section1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#app-section1>div {
    width: 45%;
    text-align: justify;
}

.text-section1 {
    color: var(--secondary-text);
    margin: 20px 0px;
}

.container {
    margin-bottom: 50px;
}

h1 {
    color: var(--light-white);
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}

.container h2 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.container h2:after,
.container h2:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
}

h2 {
    color: var(--light-white);
}

.buttons-section1 {
    display: flex;
}

.buttons-section1 a {
    display: flex;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

.buttons-section1 a:first-child {
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0e0e1a;
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, #00000000, #00000066);
    color: var(--secondary-text);
}

.buttons-section1 a:first-child:active {
    scale: 0.92;
}

.buttons-section1 a:first-child:hover {
    background: #021d4e;
    background: linear-gradient(270deg, #021d4eae 0%, #1fd7e8df 60%);
    color: #090920;
}

.buttons-section1 a:last-child {
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0e0e1a;
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, #00000000, #00000066);
    color: var(--secondary-text);
}

.buttons-section1 a:last-child:active {
    scale: 0.92;
}

.buttons-section1 a:last-child:hover {
    background: #021d4e;
    background: linear-gradient(270deg, #021d4eae 0%, #1fd7e8df 60%);
    color: #090920;
}

.frontPage {
    display: flex;
}


#app-section2 {
    text-align: center;
}

.titulo {
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    color: var(--light-white);
    text-align: center;
}

.card-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; 
    height: 80px; 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border-radius: 15px;
    z-index: 1;
}

.text-section2 {
    position: relative;
    top: -50px;
    background: linear-gradient(135deg, var(--bg-light-container) 0%, var(--bg-dark-container));
    margin: 10px;
    width: 220px;
    height: 100px;
    padding: 50px 20px 10px;
    color: white;
    border-radius: 5px;
    text-align: start;
}

.text-section2 h3 {
    border-bottom: 1px var(--secondary-text) solid;
}

.text-section2 p {
    margin-top: 5px;
    font-size: 15px;
}

#hex1 {
    background: linear-gradient(45deg, #1c14a3 12%, #0f52cc 43%, #00f9ff 75%);
}

#hex2 {
    background: linear-gradient(45deg, #f00202 12%, #ff470a 48%, #ffaf00 78%);
}

#hex3 {
    background: linear-gradient(45deg, #f00233 12%, #ff0a51 52%, #ff00a4 78%);
}

#hex4 {
    background: linear-gradient(45deg, #7102f0 8%, #e40aff 64%, #ff00f9 92%);
}

.icon-card {
    font-size: 35px;
    color: white;
}

#app-section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#app-section3>div {
    display: flex;
}

#buttons-section3 {
    display: flex;
}

