#demo-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(135deg, var(--bg-light-container) 0%, var(--bg-dark-container));
    border-radius: 5px;
    width: 90%;
    margin: 30px 0px;
}

.demo-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 100px;
}

#demo-section label {
    color: var(--secondary-text);
    margin-bottom: 3px;
}

.test-input {
    border: none;
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    color: white;
    border-bottom: 1px var(--prym-cyan-color) solid;
    transition: border-bottom 0.2s;
}

.test-input:focus {
    outline: none;
    border-bottom: 1px var(--prym-red) solid;
}

.updateValues-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    min-width: 100px;
}

.values-container {
    display: flex;
}

#removeValue {
    width: 100px;
    height: 36px;
    border: none;
    border-bottom: 1px var(--prym-cyan-color) solid;
    border-radius: 5px;
    background-color: #2C303A;
    box-shadow: #ffffff26 0px 1px 1px, #00000080 0 0 0 1px;
    color: white;
}

#removeValue:focus {
    outline: none;
    border-bottom: 1px var(--prym-red) solid;
}

.updateValues-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    margin-left: 5px;
    cursor: pointer;
}

.updateValues-button svg{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
    border: 0;
    background-color: #444857;
    color: white;
    border-bottom: 1px var(--prym-cyan-color) solid;
}

#graph-color {
    height: 36px;
}

.radio-style {
    appearance: none;
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 0px 20px;
    transition: background-position 0.2s;
    outline: none;
}

.radio-style:active {
    transform: scale(1.2);
}

.radio-style:checked {
    background-position: 0px 0px;
    background-image: radial-gradient(
        white 0%, 
        var(--prym-cyan-color) 15%, 
        var(--prym-blue-color) 30%, 
        transparent 60%);
}

.radio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#graph-section {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.graph-container {
    padding: 20px 0px;
    background: linear-gradient(135deg, var(--bg-light-container) 0%, var(--bg-dark-container));
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 90%;
    height: 100%;
}

#code-mirror-section {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#code-mirror-buttons {
    display: flex;
    width: 100%;
    background-color: var(--bg-light-container);
    border-radius: 5px 5px 0px 0px;
}

#code-mirror-buttons>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 25px;
    margin: 10px;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.button-html {
    background-color: #be3820;
}

.button-css {
    background-color: #257eb9;
}

.button-js {
    background-color: #cc9317;
}

#code-mirror-container {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
}