#test-section {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

#test-section div {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.test-input {
    box-shadow: #ffffff26 0 1px 1px, inset #00000080 0 0 0 1px;
    background-color: hsla(0, 0%, 0%, .2);
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    color: white;
    border-bottom: 1px cyan solid;
    transition: border-bottom 0.2s;
}

.test-input:focus {
    outline: none;
    border-bottom: 1px orangered solid;
}


.graph-style {
    appearance: none;
    
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: #ffffff26 0 1px 1px, inset #00000080 0 0 0 1px;
    background-color: hsla(0, 0%, 0%, .2);
    background-image: radial-gradient(#cceeff 0%, cyan 15%, rgba(0, 255, 255, 0.493) 28%, #00669900 70%);
    background-repeat: no-repeat;
    transition: background-position 0.3s;
    outline: none;
}


.graph-style:active {
    transform: scale(1.2);
}


.graph-style,
.graph-style:active {
    background-position: 0 20px;
}

.graph-style:checked {
    background-position: 0 0;
}

.graph-style:checked~.graph-style,
.graph-style:checked~.graph-style:active {
    background-position: 0 -20px;
}