* {
    margin: 0;
    padding: 0;
    font-family: Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;

}

:root {
    --bg-dark: #131417;
    --bg-darkLight: #1D1E22;
  
    --bg-dark-container: #252830;
    --bg-light-container: #2C303A;
    --bg-light: #4A4D57;

    --inset-input: #00000033;
    --inset-shadow: #ffffff26 0px 1px 1px, inset #00000080 0 0 0 1px;
  
    --prym-blue-color: #0A92C4;
    --prym-cyan-color: #0ED5AF;
  
    --light-white: #E8E9EB;
    --secondary-text: #bfcacf;
  
    --default-button: #47CF73;
    --default-button-hover: #329b53;
    --prym-red: #fc513a;
  }

body {
    background-color: var(--bg-dark);
}

input {
    background-color: var(--inset-input);
    box-shadow: var(--inset-shadow);
}

img {
    pointer-events: none;
}

.default-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--default-button);
    border-radius: 5px;
    min-width: 80px;
    padding: 0px 10px;
    height: 35px;
    text-decoration: none;
    color: var(--bg-dark);
    font-weight: bolder;
    cursor: pointer;
    transition: 0.2s;
}

.default-button:hover {
    background: var(--default-button-hover);
    color: white;
}

/* HEADER, ROOT.JSX */
header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: calc(100vw - 40px);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    backdrop-filter: blur(10px);
}

#logo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 0px 5px;
}

.link-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.remove-style-button {
    background: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-icon {
    color: #EE5335;
}

.noti-icon {
    color: #F5AB41;
}

.settings-icon {
    color: #4BB9DA;
}

.settings-dropdown.active {
    display: flex;
}

.settings-dropdown {
    position: absolute;
    display: none;
    justify-content: end;
    flex-direction: column;
    top: 60px;
    right: 30px;
    width: 150px;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(135deg, var(--bg-light) 0%, var(--bg-light-container));
}

.settings-dropdown label {
    color: var(--secondary-text);
    margin-bottom: 3px;
}

#select-languages {
    width: 100%;
    height: 30px;
    background-color: var(--light-white);
    border-radius: 5px;
}

#select-languages option {
    width: 100%;
    height: 30px;
    background-color: var(--light-white);
    border-radius: 5px;
}

/* MAIN */
main {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 30px 0px;
    text-align: center;
}

/* FOOTER */
footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--bg-dark);
    color: var(--light-white);
}